<%-include("../partials/header.ejs") %>

    
<h1>Friend List</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
    
        </tr>
        </thead>
        <tbody>
            <% friends.forEach(function(f){ %>
            <tr>
                <td>
                    <a href="/friends/<%= f._id %>"><%= f.firstName %> <%= f.lastName %></a>
                </td>
                <td><button>BYE</button></td>
        <% }); %>


        <a href="/friends/new">Add Friend</a>



<%-include("../partials/footer.ejs") %>
