<%-include("../partials/header.ejs") %>



<h1>Movie List</h1>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Rotten Tomatoes Score</th>
            <th></th>
    
        </tr>
        </thead>
        <tbody>
            <% movies.forEach(function(m){ %>
            <tr>
            <td><form action="/movies/<%= m._id %>?_method=DELETE" method="POST" id="delete-form">
                <button type="submit" class="input-button" id="delete-button">delete</button></td>
            <td><%= m.title %></td>
<<<<<<< HEAD
            <td><%= m.rottenTomatoes %></td>
            <td><a href="/movies/<%= m._id %>">Comments</a></td>
=======
            <td><%= m.rottenTomatoes %></td>   
            <td><a href="/movies/<%= m._id %>">Comments</a></td>    
>>>>>>> 62c3ddd555a25bbc31f94c05f7dbcc075ce0fffb
        <% }); %>


        <a href="/movies/new">Add Movie</a>






<%-include("../partials/footer.ejs") %>
